body {
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
/*landing page*/
h1 {
	font-family: 'Chilanka', cursive;;
    size: 40px;
	color:#FF8C00;
	text-align: center;
}
.text1 {
	position: absolute;
	top: 74%;
	left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
}